<%= render 'spree/admin/shared/areas_tabs' %>

<% content_for :page_title do %>
  <%= Spree::Zone.model_name.human(count: :other) %>
<% end %>

<% content_for :page_actions do %>
  <% if can?(:create, Spree::Zone) %>
    <li>
      <%= button_link_to Spree.t(:new_zone), new_object_url, :icon => 'plus', :id => 'admin_new_zone_link' %>
    </li>
  <% end %>
<% end %>

<%= paginate @zones, theme: "sapna_gale_test_admin" %>

<% if @zones.any? %>
  <table class="index" id='listing_zones' data-hook>
    <colgroup>
      <col style="width: 30%" />
      <col style="width: 40%" />
      <col style="width: 15%" />
      <col style="width: 15%" />
    </colgroup>
    <thead>
      <tr data-hook="zones_header">
        <th><%= sort_link @search,:name, Spree::Zone.human_attribute_name(:name), :title => 'zones_order_by_name_title' %></th>
        <th>
          <%= sort_link @search,:description, Spree::Zone.human_attribute_name(:description), {}, {:title => 'zones_order_by_description_title'} %>
        </th>
        <th><%= Spree.t(:default_tax) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @zones.each do |zone| %>
        <tr id="<%= spree_dom_id zone %>" data-hook="zones_row" class="<%= cycle('odd', 'even')%>">
          <td class="align-center"><%= zone.name %></td>
          <td><%= zone.description %></td>
          <td class="align-center"><%= zone.default_tax? ? Spree.t(:say_yes) : Spree.t(:say_no) %></td>
          <td class="actions">
            <% if can?(:update, zone) %>
              <%= link_to_edit zone, :no_text => true %>
            <% end %>
            <% if can?(:destroy, zone) %>
              <%= link_to_delete zone, :no_text => true %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found',
                 resource: Spree::Zone,
                 new_resource_url: new_object_url %>
  </div>
<% end %>

<%= paginate @zones, theme: "sapna_gale_test_admin" %>
