<%= render 'spree/admin/shared/shipping_tabs' %>

<% content_for :page_title do %>
  <%= Spree::StockLocation.model_name.human(count: :other) %>
<% end %>

<% content_for :page_actions do %>
  <ul class="actions inline-menu">
    <% if can?(:create, Spree::StockLocation) %>
      <li>
        <%= button_link_to Spree.t(:new_stock_location), new_object_url, { :icon => 'plus', :id => 'admin_new_stock_location' } %>
      </li>
    <% end %>

    <% if can?(:create, Spree::StockTransfer) %>
      <li>
        <%= button_link_to Spree.t(:new_stock_transfer), new_admin_stock_transfer_path, { :icon => 'forward' } %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @stock_locations.any? %>
  <table class="index sortable" id='listing_stock_locations' data-hook data-sortable-link="<%= update_positions_admin_stock_locations_url %>">
    <colgroup>
      <col style="width: 10%">
      <col style="width: 30%" />
      <col style="width: 15%" />
      <col style="width: 30%" />
      <col style="width: 15%" />
    </colgroup>
    <thead>
      <tr data-hook="stock_locations_header">
        <th class="no-border"></th>
        <th><%= Spree::StockLocation.human_attribute_name(:name) %></th>
        <th><%= Spree::StockLocation.human_attribute_name(:state_id) %></th>
        <th><%= Spree::StockMovement.model_name.human(count: :other) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @stock_locations.each do |stock_location|
           @edit_url = edit_admin_stock_location_path(stock_location)
           @delete_url = admin_stock_location_path(stock_location)
      %>
        <tr id="<%= spree_dom_id stock_location %>" data-hook="stock_location_row" class="<%= cycle('odd', 'even')%>">
          <td class="no-border">
            <% if can?(:update_positions, Spree::StockLocation) %>
              <span class="handle"></span>
            <% end %>
          </td>
          <td class="align-center"><%= admin_stock_location_display_name(stock_location) %></td>
          <td class="align-center">
            <% if stock_location.active? %>
              <span class="state active"><%= Spree.t('active') %></span>
            <% else %>
              <span class="state inactive"><%= Spree.t('inactive') %></span>
            <% end %>
          </td>
          <td class="align-center">
            <% if can?(:display, Spree::StockMovement) %>
              <%= link_to Spree::StockMovement.model_name.human(count: :other), admin_stock_location_stock_movements_path(stock_location.id) %>
            <% else %>
              Stock Movements
            <% end %>
          </td>
          <td class="actions">
            <% if can?(:update, stock_location) %>
              <%= link_to_edit stock_location, :no_text => true %>
            <% end %>
            <% if can?(:destroy, stock_location) %>
              <%= link_to_delete stock_location, :no_text => true %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found',
                        resource: Spree::StockLocation,
                        new_resource_url: new_object_url %>
  </div>
<% end %>
