<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />

<%= csrf_meta_tags %>

<title>
  <% if content_for? :title %>
    <%= yield :title %>
  <% else %>
    <%= "sapna_gale_test #{Spree.t('administration')}: " %>
    <%= Spree.t(controller.controller_name, :default => controller.controller_name.titleize) %>
  <% end %>
</title>

<!-- Get "Open Sans" font from Google -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600&subset=latin,cyrillic,greek,vietnamese' rel='stylesheet' type='text/css'>

<%= stylesheet_link_tag 'spree/backend/all' %>

<%- if Rails.env.test? %>
  <style>
    /* A fixed position notification can intermittently be in the way of click targets.
    Capybara uses `Element.scrollIntoView()` internally, but this only scrolls as far
    as it must, which means a bottom of page notification will obstruct interactions.
    */
    .flash-wrapper { position: static; }

    /* Capybara doesn't know how to use dropdowns */
    .tabs-dropdown ul {
      display: block !important;
      position: static;
    }
  </style>
<%- elsif Rails.env.development? %>
  <style>
    .translation_missing { background: red; }
  </style>
<%- end %>


<%= javascript_include_tag 'spree/backend/all' %>

<%= render "spree/admin/shared/translations" %>

<%= javascript_tag do -%>
  Spree.api_key = "<%= try_spree_current_user.try(:spree_api_key) %>";
  Spree.env = "<%= Rails.env %>";
<% end %>

<%= yield :head %>
