<% content_for :tabs do %>
  <nav>
    <ul class="tabs" data-hook="admin_settings_shipping_tabs">
      <% if can?(:display, Spree::ShippingMethod) %>
        <%= settings_tab_item Spree::ShippingMethod.model_name.human(count: :other), spree.admin_shipping_methods_path %>
      <% end %>

      <% if can?(:display, Spree::ShippingCategory) %>
        <%= settings_tab_item Spree::ShippingCategory.model_name.human(count: :other), spree.admin_shipping_categories_path %>
      <% end %>

      <% if can?(:display, Spree::StockLocation) %>
        <%= settings_tab_item Spree::StockLocation.model_name.human(count: :other), spree.admin_stock_locations_path %>
      <% end %>
    </ul>
  </nav>
<% end %>
