<% content_for :page_title do %>
  <%= Spree::Promotion.model_name.human(count: :other) %>
<% end %>

<% content_for :page_actions do %>
  <% if can? :create, Spree::Promotion %>
    <li>
      <%= button_link_to Spree.t(:new_promotion), spree.new_admin_promotion_path, :icon => 'plus' %>
    </li>
  <% end %>
<% end %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:search) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_promotions_index_search">
    <%= search_form_for [:admin, @search] do |f| %>
      <div class="four columns alpha">
        <div class="field">
          <%= label_tag :q_name_cont, Spree::Promotion.human_attribute_name(:name) %>
          <%= f.text_field :name_cont, tabindex: 1 %>
        </div>
      </div>

      <div class="four columns">
        <div class="field">
          <%= label_tag :q_codes_value_cont, Spree::Promotion.human_attribute_name(:code) %>
          <%= f.text_field :codes_value_cont, tabindex: 1 %>
        </div>
      </div>

      <div class="four columns">
        <div class="field">
          <%= label_tag :q_path_cont, Spree::Promotion.human_attribute_name(:path) %>
          <%= f.text_field :path_cont, tabindex: 1 %>
        </div>
      </div>

      <div class="four columns omega">
        <div class="field">
          <%= label_tag :q_promotion_category_id_eq, Spree::PromotionCategory.model_name.human %><br>
          <%= f.collection_select(:promotion_category_id_eq, @promotion_categories, :id, :name, { :include_blank => Spree.t('match_choices.all') }, { :class => 'select2 fullwidth' }) %>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="actions filter-actions">
        <div data-hook="admin_promotions_index_search_buttons">
          <%= button Spree.t(:filter_results), 'search' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>


<%= paginate @promotions, theme: "sapna_gale_test_admin" %>

<% if @promotions.any? %>
  <table class="index">
    <colgroup>
      <col style="width: 20%">
      <col style="width: 10%">
      <col style="width: 30%">
      <col style="width: 10%">
      <col style="width: 10%">
      <col style="width: 10%">
      <col style="width: 10%">
    </colgroup>
    <thead>
      <tr>
        <th><%= Spree::Promotion.human_attribute_name(:name) %></th>
        <th><%= Spree::Promotion.human_attribute_name(:code) %></th>
        <th><%= Spree::Promotion.human_attribute_name(:description) %></th>
        <th><%= Spree::Promotion.human_attribute_name(:usage_limit) %></th>
        <th><%= Spree::Promotion.human_attribute_name(:promotion_uses) %></th>
        <th><%= Spree::Promotion.human_attribute_name(:expires_at) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @promotions.each do |promotion| %>
        <tr id="<%= spree_dom_id promotion %>" class="<%= cycle('odd', 'even')%>">
          <td><%= promotion.name %></td>
          <td class="align-center"><%= (promotion.codes.size == 1) ? promotion.codes.first.try!(:value) : Spree.t(:number_of_codes, count: promotion.codes.size) %></td>
          <td><%= promotion.description %></td>
          <td class="align-center"><%= promotion.usage_limit.nil? ? "∞" : promotion.usage_limit  %></td>
          <td class="align-center"><%= Spree.t(:current_promotion_usage, :count => promotion.usage_count) %></td>
          <td class="align-center"><%= promotion.expires_at.to_date.to_s(:short_date) if promotion.expires_at %></td>
          <td class="actions">
            <% if can?(:edit, promotion) %>
              <%= link_to_edit promotion, :no_text => true %>
            <% end %>
            <% if can?(:destroy, promotion) %>
              <%= link_to_delete promotion, :no_text => true %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found',
                 resource: Spree::Promotion,
                 new_resource_url: new_object_url %>
  </div>
<% end %>
